<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Documents marking sysytem</a>
    <!-- Links -->
    <ul class="nav navbar-nav">
        <ng-template *ngIf="loggedIn; then thenBlock else elseBlock"></ng-template>
            <ng-template #thenBlock>
                <li class="nav-item">
                    <a class="nav-link" routerLink="logout">Logout</a>
                </li>
            </ng-template>
            <ng-template #elseBlock>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
            </ng-template>
    </ul>
</nav>
