<div class="alert alert-warning alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{errorMsg}}
</div>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h2>Sign In </h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="userID"
                                placeholder="Enter your email address">
                        </div>
                        <button type="submit" class="btn btn-primary float-right login_btn">Login</button>
                    </form>
                    <a routerLink="/register"> don't have an account yet?</a>
                    <!--
                    <div *ngIf="errorMsg!=''" class="error-msg">
                        {{errorMsg}}
                    </div>
                    -->
                    
                </div>
            </div>
        </div>
    </div>
</body>
