body{
    
    background-image: url("https://www.nhsresearchscotland.org.uk/uploads/tinymce/shareLogo.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}