.addbtn{
    margin-bottom: 50px;
    margin-right: 50px; 
}
.backbtn{
    margin-top: 80px;
    margin-right: 50px;
}
.editbtn{
    align-items: center;
    margin-left: 20px;
}
.sharebtn{
    align-items: center;
    margin-left: 20px;
}
span{
    font-size: medium;
}
body{
    
    background-image: url("https://libraryeuroparl.files.wordpress.com/2019/10/eprs-briefing-642240-reform-service-of-documents-regulation-final.jpg?w=300&h=169");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}