.addbtn{
    margin-bottom: 50px;
    margin-right: 50px; 
}
.backbtn{
    margin-top: 80px;
    margin-right: 50px;
}
.editbtn{
    align-items: center;
    margin-left: 20px;
}
.sharebtn{
    align-items: center;
    margin-left: 20px;
}
span{
    font-size: medium;
}